<launch>
    <arg name="serial_name" default="/dev/ttyUSB0" />
    <arg name="baudrate" default="921600" />
    <arg name="send_buffer" default="100" />
    <arg name="send_freq" default="100" />
    <arg name="output" default="screen" />
    <node pkg="inf_uwb_ros" name="uwb_node" type="inf_uwb_ros_node" output="$(arg output)">
        <param name="serial_name" value="$(arg serial_name)" />
        <param name="baudrate" value="$(arg baudrate)" type="int" />
        <param name="send_buffer" value="$(arg send_buffer)" type="int" />
        <param name="send_freq" value="$(arg send_freq)" type="double" />
        <param name="recv_freq" value="100" type="double" />
    </node>
</launch>
